@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');


:root{
    --font1:'Open Sans', sans-serif;
    --font2:'Oswald', sans-serif;
    --cor1:#117050;
}


body{
    font-family: var(--font1);
    margin: 0;
    padding: 0;
    
}

.button{
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}
.button:hover{
    color: white;
    background-color: #454545;
}

header .line{
    background-color: var(--cor1);
    height:10px ;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.barra{
    background-color: #006341;
    width: 168px;
    height: 22px;
}

h1{
    font-family: var(--font2);
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
      
}

h2{
    font-family: var(--font2);
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    margin: 20px 0px;
}

.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   
}

.header--right{
    display: flex;
}

.header-left img{
    width: 64px;
    height: 64px;
}

.header-search form{
    display: flex;
}

.header-search input{
    font-size: 16px;
    padding: 10px 30px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header-search button{
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;

}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu{
    margin-left: 50px;
    cursor: pointer;
}

.header-menu img{
    width: 24px;
    height: 24px;
}


.banner{
    background-image: url(../estilo/imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner-imagens{
    margin-top: 60px;
}

.banner-imagens img{
    width: 148px;
    height: 148px;
    border: 6px solid var(--cor1);
    border-radius: 50%;
    margin-right: 30px;
}


.area1{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.area1-conteudo{
    padding: 90px; 

}

.p1{
    margin-bottom: 30px;
}
.p2{
    margin-bottom: 50px;
    line-height: 25px;
}

.area1-img1{
    height: 350px;
   background-image: url(imagens/f2.jpg);
   background-size: cover;
   background-position: center;


}
.area1-img2{
   background-image: url(imagens/f1.jpg);
   grid-column: 2/ 3;
   grid-row: 1/3;
   background-size: cover;
   background-position: center;

}

.area2{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.area2-conteudo{
    padding: 90px; 

}
.p2{
    margin-bottom: 50px;
    line-height: 25px;
}

.area2-img1{
    height: 450px;
   background-image: url(imagens/f4.jpg);
   background-size: cover;
   background-position: center;


}
.area2-img2{
   background-image: url(imagens/f3.jpg);
   grid-column: 1/ 2;
   grid-row: 1/3;
   background-size: cover;
   background-position: center;

}

.area3{
    display: grid;
    grid-template-columns: repeat(2 ,1fr); 
}
.area3-conteudo{
    padding: 200px 90px;
    background-image: url(imagens/bg2.jpg);
    background-size: cover;
    background-position: left; 

}
.p3{
    margin-bottom: 50px;
    line-height: 25px;
}

.area3-img{ 
   background-image: url(imagens/f5.jpg);
   background-size: cover;
   background-position: center;
}

.area4{
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}

.area4-conteudo{
    padding: 180px 80px;
}

.p4{
    margin-bottom: 50px;
    line-height: 25px; 
}
.area4-img{
    background-image: url(imagens/bg3.jpg);
    background-position: left;
}

.area5{
    background-image: url(imagens/bg4.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;

}

footer{
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}

